<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Step1 Next Dummy View</title>
</head>
<body>
    <h2>Step1 Next 호출 테스트</h2>

    <form id="step1Form" method="post" action="/purchase/trade/step1/next">
        <label for="flow">Flow:</label>
        <select name="flow" id="flow">
            <option value="RESERVE">RESERVE</option>
            <option value="OTHER">OTHER</option>
        </select>
        <br/><br/>

        <label for="accountId">계좌 ID:</label>
        <input type="text" id="accountId" name="accountId" value="123-456-789"/>
        <br/><br/>

        <label for="accountType">계좌 Type:</label>
        <input type="text" id="accountType" name="accountType" value="IRP"/>
        <br/><br/>

        <input type="submit">POST 호출</input>
    </form>
</body> 
</html>
