<!-- templates/admin/fragments/header.html -->
<th:block th:fragment="header(activeCategory)">
  <nav style="height:56px;background:#fff;border-bottom:1px solid #e5e7eb;display:flex;align-items:center;gap:24px;padding:0 16px;">
	<!-- 대시보드 -->
	<a th:href="@{/admin/page/dashboard}"   
	   hx-target="#content"
	   th:attr="hx-get=@{/admin/ui/category/dashboard},
	            hx-push-url=@{/admin/page/dashboard}">
	  대시보드
	</a>
	
	<!-- 통계 -->
	<a th:href="@{/admin/page/stat-subscribers}"
	   hx-target="#content"
	   th:attr="hx-get=@{/admin/ui/category/stat},
            hx-push-url=@{/admin/page/stat-subscribers}">통계</a>
	
		<!-- 고객 관리 -->
	<a th:href="@{/admin/page/commodity-management}"
	   hx-target="#content"
	   th:attr="hx-get=@{/admin/ui/category/commodity},
            hx-push-url=@{/admin/page/commodity-management}">상품 관리</a>
	
	
	<!-- 고객 관리 -->
	<a th:href="@{/admin/page/customers-management}"
	   hx-target="#content"
	   th:attr="hx-get=@{/admin/ui/category/customers},
            hx-push-url=@{/admin/page/customers-management}">고객 관리</a>
	
	<!-- 후기 관리 -->
	<a th:href="@{/admin/page/review-management}"
	   hx-target="#content"
	   th:attr="hx-get=@{/admin/ui/category/review},
            hx-push-url=@{/admin/page/review-management}">후기 관리</a>
	
	
	<!-- 계좌 개설 관리 -->
	<a th:href="@{/admin/page/account-open}"
	   hx-target="#content"
	   th:attr="hx-get=@{/admin/ui/category/account},
            hx-push-url=@{/admin/page/account-open}">계좌 개설 관리</a>

    <div style="margin-left:auto;">로그아웃</div>
  </nav>
</th:block>
